.jimu-widget-viz-setting .btn-add-section {
  display: inline-block;
  overflow: hidden;
  height: 24px;
  margin-left: 1px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 13px;
  color: #538ec8;
  margin-top: 8px;
}

.jimu-widget-viz-setting .btn-add-section .btn-add-icon {
  float: left;
  height: 100%;
  width: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add.png);
}

.jimu-widget-viz-setting .btn-add-section .btn-add-label {
  float: left;
  height: 100%;
  line-height: 24px;
  vertical-align: middle;
  margin-right: 7px;
  text-decoration: underline;
}

.jimu-widget-viz-setting .label-disabled {
  color: #6e6e6e;
}